<%= simple_form_for(@applicant_field_of_study) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Field_Of_Study %>
    <%= f.input :Start_Date %>
    <%= f.input :End_date %>
    <label>University</label><br>
    <%= f.collection_select(:applicant_university_id, ApplicantUniversity.all, :id, :University_Name) %><br>
    
    <label>Qualification</label><br>
    <%= f.collection_select(:applicant_qual_id, ApplicantQual.all, :id, :Qualification_Name) %><br>

    <label>Qualification Status</label><br>
    <%= f.collection_select(:applicant_qual_status_id, ApplicantQualStatus.all, :id, :Qualification_Status) %><br><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: 'btn btn-primary btn-block' %><br>
  </div>
<% end %>
