<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
<div class="panel-heading">
  <h1 class="text-center">Programs <%= current_applicant.username %> is interested in</h1>
</div>
<div class="panel-body">
  <table class="table table-hover table-striped table-bordered table-condensed">
    <thead>
      <tr bgcolor="#D9EDF7">
        <th>Program Of Interest</th>
        <th>Field of interest</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @applicant_foi_programs.each do |applicant_foi_program| %>
        <tr>
          <td><%= applicant_foi_program.applicant_program_interest_id %></td>
          <td><%= applicant_foi_program.applicant_field_of_interest_id %></td>
          <td><%= link_to 'Show', applicant_foi_program, class: "btn btn-xs btn-info" %></td>
          <td><%= link_to 'Edit', edit_applicant_foi_program_path(applicant_foi_program), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Destroy', applicant_foi_program, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Applicant Foi Program', new_applicant_foi_program_path, class: "btn btn-primary btn-block" %><br>
  <%= link_to 'Next Step', applicant_personal_details_path, class: "btn btn-success btn-block" %>
</div>  
</div>

<div class="col-xs-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Programs</h4>
    </div>
      <div class="panel-body">
      <table class="table table-bordered table-striped table-hover">
        <% @programs.each do |program| %>
        <tr>
          <td><%= program.id %></td>
          <td><%= program.Program %></td>
        </tr>
        <% end %>
      </table>  
      </div>
  </div>
</div> 

<div class="col-xs-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Fields of Interest</h4>
    </div>
      <div class="panel-body">
      <table class="table table-bordered table-striped table-hover">
        <% @field_of_interest.each do |foi| %>
        <tr>
          <td><%= foi.id %></td>
          <td><%= foi.Field_Of_Interest %></td>
        </tr>
        <% end %>
      </table>  
      </div>
  </div>
</div>  