<% if !@applicant_foi_programs.any? %> 
  <%= render 'layouts/incomplete' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center">Programs <%= current_applicant.username %> is interested in</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-bordered table-condensed">
      <thead>
        <tr bgcolor="#D9EDF7" style="color: #337AB7;">
          <th class="col-xs-5">Program Of Interest</th>
          <th class="col-xs-5">Field of interest</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @applicant_foi_programs.each do |applicant_foi_program| %>
          <tr>
            <td class="col-xs-5"><%= applicant_foi_program.applicant_program_interest_id %></td>
            <td class="col-xs-5"><%= applicant_foi_program.applicant_field_of_interest_id %></td>
            <!-- <td><%= link_to 'Show', applicant_foi_program, class: "btn btn-xs btn-info" %></td> -->
            <td class="col-xs-2"><%= link_to 'Edit Entry', edit_applicant_foi_program_path(applicant_foi_program), class: "btn btn-xs btn-warning btn" %>
            <%= link_to 'Delete Entry', applicant_foi_program, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Field of Interest and Program', new_applicant_foi_program_path, class: "btn btn-primary btn-block" %><br>
    <% if @applicant_foi_programs.any? %>
    <%= link_to 'Next Step', applicant_personal_details_path, class: "btn btn-success btn-block" %>
    <% end %>
  </div>  
</div>

<% if @applicant_foi_programs.any? %>
  <div class="col-xs-6">
    <div class="panel panel-info" style="height:410px;">
      <div class="panel-heading">
        <h4>Programs</h4>
      </div>
        <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
          <% @programs.each do |program| %>
          <tr>
            <td><%= program.id %></td>
            <td><%= program.Program %></td>
          </tr>
          <% end %>
        </table>  
        </div>
    </div>
  </div> 

  <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Fields of Interest</h4>
      </div>
        <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
          <% @field_of_interest.each do |foi| %>
          <tr>
            <td><%= foi.id %></td>
            <td><%= foi.Field_Of_Interest %></td>
          </tr>
          <% end %>
        </table>  
        </div>
    </div>
  </div>  
<% end %>