<div class=" col-xs-12 col-md-8 col-md-offset-2">
  <% if !@applicant_foi_programs.any? %> 
    <%= render 'layouts/incomplete' %>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center">Programs <%= current_applicant.username %> is interested in</h1>
      <p class="text-center">You may select more than one field of interest</p>
    </div>
    <div class="panel-body">
   
      <% @applicant_foi_programs.each do |applicant_foi_program| %>
        <div class="well col-xs-12  col-md-8 col-md-offset-2 text-center">
          <h5 class="text-primary">Program Of Interest</h5><%= applicant_foi_program.applicant_program_interest %><br>
          <h5 class="text-primary">Field of interest</h5><%= applicant_foi_program.applicant_field_of_interest %><br><hr>
          
          <%= link_to 'Edit Entry', edit_applicant_foi_program_path(applicant_foi_program), class: "btn btn-xs btn-warning btn" %>
          <%= link_to 'Delete Entry', applicant_foi_program, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-xs btn-danger btn" %>
        </div>         
      <% end %>

      <br>
      <div class="col-xs-12 col-md-12">
        <%= link_to 'New Field of Interest and Program', new_applicant_foi_program_path, class: "btn btn-primary btn-block" %><br>
        <% if @applicant_foi_programs.any? %>
        <%= link_to 'Finished?', root_url, class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>  
    <br><%= link_to 'Back', root_url, class: 'btn btn-xs btn-danger' %>
  </div>
  
</div>