<style>
	span {
		color: #337AB7;
	}
	.size {
		height:400px;
	}
</style>

<div class="col-xs-12">
	<div class="panel panel-info size">
	  <div class="panel-heading">
	  	<h1 class="text-center"><%= current_applicant.username %>'s Information</h1>
	  </div>
	  <div class="panel-body">
		<p><span>ID Number: </span><%= current_applicant.id_number %></p>
		<p><span>Email: </span><%= current_applicant.email %></p>
		<p><span>Times signed in: </span><%= current_applicant.sign_in_count %></p>
		<p><span>Current sign in: </span><%= current_applicant.current_sign_in_at %></p>
		<p><span>Last sign in: </span><%= current_applicant.last_sign_in_at %></p>
		<p><span>Current IP: </span><%= current_applicant.current_sign_in_ip %></p>
		<p><span>Last sign in IP: </span><%= current_applicant.last_sign_in_ip %></p>
		<p><span>Created: </span><%= current_applicant.created_at %></p>
		<p><span>Last Updated: </span><%= current_applicant.updated_at %></p>
	  </div>
	</div>
</div>
<% @applicant_personal_details.each do |applicant_personal_detail| %>
<div class="col-xs-4">
  <div class="panel panel-info size">
  	<div class="panel-heading">
		<h4 class="text-center">Applicant Personal Details</h4>
	</div>
	<div class="panel-body">
	  <center>
		<p><span>Surname:</span> <%= applicant_personal_detail.Surname %></p>
		<p><span>First name:</span> <%= applicant_personal_detail.First_Name %></p>
		<p><span>Middle name:</span> <%= applicant_personal_detail.Middle_Name %></p>
		<p><span>Contact number:</span> <%= applicant_personal_detail.Contact_Number %></p>
		<p><span>Alt contact number:</span> <%= applicant_personal_detail.Alt_Contact_Number %></p>
		<p><span>Criminal record:</span> <%= applicant_personal_detail.Criminal_Record %></p>
		<p><span>Skills:</span> <%= applicant_personal_detail.Skills %></p>
		<p><span>Application status:</span> <%= applicant_personal_detail.Application_Status %></p>
		<p><span>Number of dependancies:</span> <%= applicant_personal_detail.Number_Of_Dependancies %></p>
	  	<%= link_to 'Show', applicant_personal_detail, class: "btn btn-xs btn-info" %>
	  	<%= link_to 'Edit', edit_applicant_personal_detail_path(applicant_personal_detail), class: "btn btn-xs btn-warning" %>
	  	<%= link_to 'Destroy', applicant_personal_detail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
	  </center>	
	  
	</div>  
  </div>	
</div>
<% end %>

<% @applicant_addresses.each do |applicant_address| %>
	<div class="col-xs-4">
	  <center>
		<div class="panel panel-info size">
		  <div class="panel-heading">
		  	<h4 class="text-center">Applicant Address</h4>
		  </div>
		  <div class="panel-body">
	  		<p><span>Address Line 1: </span><%= applicant_address.Address_Line_1 %></p>
	  		<p><span>Address Line 2: </span><%= applicant_address.Address_Line_2 %></p>
	  		<p><span>Address Line 3: </span><%= applicant_address.Address_Line_3 %></p>
	  		<p><span>Postal Code: </span><%= applicant_address.Postal_Code %></p>
	  		<%= link_to 'Show', applicant_address, class: "btn btn-xs btn-info" %>
        	<%= link_to 'Edit', edit_applicant_address_path(applicant_address), class: "btn btn-xs btn-warning" %>
        	<%= link_to 'Destroy', applicant_address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
		  </div>
		</div>
	  </center>
	</div>
<% end %>

<% @applicant_experiences.each do |applicant_experience| %>
 <div class="col-xs-4">
  <center>
	<div class="panel panel-info size">
	  <div class="panel-heading">
	  	<h4 class="text-center">Applicant Experience</h4>
	  </div>
	  <div class="panel-body">
	  	<p><span>Job name: </span><%= applicant_experience.Job_Name %></p>
	  	<p><span>Company name: </span><%= applicant_experience.Company_Name %></p>
	  	<p><span>Duties: </span><%= applicant_experience.Duties %></p>
	  	<p><span>Start date: </span><%= applicant_experience.Start_Date %></p>
	  	<p><span>End date: </span><%= applicant_experience.End_Date %></p>
	  	<%= link_to 'Show', applicant_experience, class: "btn btn-xs btn-info" %>
        <%= link_to 'Edit', edit_applicant_experience_path(applicant_experience), class: "btn btn-xs btn-warning" %>
        <%= link_to 'Destroy', applicant_experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
	  </div>
	</div>
  </center>	
 </div>
<% end %>
<!--
<div class="col-xs-4">
	<div class="panel panel-info size">
	  <div class="panel-heading">
	  </div>

	  <div class="panel-body">
	  </div>
	</div>
</div> -->