<div class="col-xs-12 col-md-8 col-md-offset-2">
  <% if !@applicant_licenses.any? %> 
    <%= render 'layouts/incomplete' %>
  <% end %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center"><%= current_applicant.username %>'s Drivers License</h1>
    </div>
    <div class="panel-body">

      <% @applicant_licenses.each do |applicant_license| %>
        <div class="well text-center col-xs-12 col-md-8 col-md-offset-2">
          <h5 class="text-primary">Drivers License Code: </h5><%= applicant_license.applicant_license_code %>
          <h5 class="text-primary">Drivers License Status: </h5><%= applicant_license.applicant_license_status %><hr>
         
          <%= link_to 'Edit Entry', edit_applicant_license_path(applicant_license), class: "btn btn-xs btn-warning" %>
          <%= link_to 'Destroy Entry', applicant_license, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>


      <br>
      <div class="col-xs-12 col-md-12">
        <%= link_to 'New Applicant License', new_applicant_license_path, class: "btn btn-block btn-primary" %><br>
        <% if @applicant_licenses.any? %> 
          <%= link_to 'Next Step', root_url, class: "btn btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <div>
<% if @applicant_licenses.any? %>
  <div class="col-xs-6">
    <div class="panel panel-info" style="height:445px;">
      <div class="panel-heading">
        <h4>Drivers License Status</h4>
      </div>
        <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
          <% @status.each do |status| %>
          <tr>
            <td><%= status.id %></td>
            <td><%= status.Drivers_License_Status %></td>
          </tr>
          <% end %>
        </table>  
        </div>
    </div>
  </div> 

  <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Divers License Code</h4>
      </div>
        <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
          <% @code.each do |code| %>
          <tr>
            <td><%= code.id %></td>
            <td><%= code.Drivers_License_Code %></td>
          </tr>
          <% end %>
        </table>  
        </div>
    </div>
  </div>  
<% end %>
</div> -->