<% if !@applicant_references.any? %> 
  <%= render 'layouts/incomplete' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center"><%= current_applicant.username %>'s References</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-bordered table-condensed">
      <thead>
        <tr bgcolor="#D9EDF7" style="color: #337AB7;">
          <th>Reference name</th>
          <th>Contact number</th>
          <th>Email address</th>
          <th>Relationship</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @applicant_references.each do |applicant_reference| %>
          <tr>
            <td><%= applicant_reference.Reference_Name %></td>
            <td><%= applicant_reference.Contact_Number %></td>
            <td><%= applicant_reference.Email_address %></td>
            <td><%= applicant_reference.Relationship %></td>
            <td><%= link_to 'Show', applicant_reference, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_applicant_reference_path(applicant_reference), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Destroy', applicant_reference, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Applicant Reference', new_applicant_reference_path, class: "btn btn-block btn-primary" %><br>
    <% if @applicant_references.any? %>
      <%= link_to 'Finished?', applicants_index_path, class: "btn btn-block btn-success" %>
    <% end %>  
  </div>  
</div>