<p id="notice"><%= notice %></p>

<h1>Applicant References</h1>

<table>
  <thead>
    <tr>
      <th>Contact number</th>
      <th>Reference name</th>
      <th>Email address</th>
      <th>Relationship</th>
      <th>Applicant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicant_references.each do |applicant_reference| %>
      <tr>
        <td><%= applicant_reference.Contact_Number %></td>
        <td><%= applicant_reference.Reference_Name %></td>
        <td><%= applicant_reference.Email_address %></td>
        <td><%= applicant_reference.Relationship %></td>
        <td><%= applicant_reference.applicant %></td>
        <td><%= link_to 'Show', applicant_reference %></td>
        <td><%= link_to 'Edit', edit_applicant_reference_path(applicant_reference) %></td>
        <td><%= link_to 'Destroy', applicant_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant Reference', new_applicant_reference_path %>
