<%= simple_form_for(@applicant_disability_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :applicant_disability, :label_method =>  lambda { |disability| "#{disability.Disability}"  } %>
    <%= f.input :Disability_Type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
