<div class="col-xs-12 col-md-8 col-md-offset-2">
  <% if !@applicant_disability_types.any? %> 
    <%= render 'layouts/incomplete' %>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center"><%= current_applicant.username %>'s Disability Types</h1>
    </div>
    <div class="panel-body">
     
          <% @applicant_disability_types.each do |applicant_disability_type| %>
            <div class="well col-xs-12 col-md-8 col-md-offset-2 text-center">
              <h5 class="text-primary">Applicant Disability:</h5><%= applicant_disability_type.applicant_disability %>
              <h5 class="text-primary">Disability Type:</h5><%= applicant_disability_type.Disability_Type %><hr>
              <%= link_to 'Edit Entry', edit_applicant_disability_type_path(applicant_disability_type), class: "btn btn-xs btn-warning" %>
             <%= link_to 'Delete Entry', applicant_disability_type, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-xs btn-danger" %>
            </div> 
          <% end %>  

      <br>
      <div class="col-xs-12 col-md-12">
        <%= link_to 'New Applicant Disability Type', new_applicant_disability_type_path, class: "btn btn-block btn-primary" %><br>
        <% if @applicant_disability_types.any? %> 
          <%= link_to 'Next Step', applicant_addresses_path, class: "btn btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>