<% if !@applicant_disability_types.any? %> 
  <%= render 'layouts/incomplete' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center"><%= current_applicant.username %>'s Disability Types</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-bordered table-condensed">
      <thead>
        <tr bgcolor="#D9EDF7" style="color: #337AB7;">
          <th>Applicant Disability</th>
          <th>Disability Type</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @applicant_disability_types.each do |applicant_disability_type| %>
          <tr>
            <td><%= applicant_disability_type.applicant_disability_id %></td>
            <td><%= applicant_disability_type.Disability_Type %></td>
            <td><%= link_to 'Edit Entry', edit_applicant_disability_type_path(applicant_disability_type), class: "btn btn-xs btn-warning" %>
           <%= link_to 'Destroy Entry', applicant_disability_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" 
%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Applicant Disability Type', new_applicant_disability_type_path, class: "btn btn-block btn-primary" %><br>
    <% if @applicant_disability_types.any? %> 
      <%= link_to 'Next Step', applicant_addresses_path, class: "btn btn-block btn-success" %>
    <% end %>
  </div>
</div>
