<% if !@applicant_experiences.any? %> 
  <%= render 'layouts/incomplete' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center"><%= current_applicant.username %>'s Work Experience</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr bgcolor="#D9EDF7" style="color: #337AB7;">
          <th>Job name</th>
          <th>Company name</th>
          <th>Duties</th>
          <th>Employment Type</th>
          <th>Start date</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @applicant_experiences.each do |applicant_experience| %>
          <tr>
            <td><%= applicant_experience.Job_Name %></td>
            <td><%= applicant_experience.Company_Name %></td>
            <td><%= applicant_experience.Duties %></td>
            <td><%= applicant_experience.applicant_employment_type_id %></td>
            <td><%= applicant_experience.Start_Date %></td>
            <td><%= applicant_experience.End_Date %></td>
            <td><%= link_to 'Show', applicant_experience, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_applicant_experience_path(applicant_experience), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Destroy', applicant_experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Applicant Experience', new_applicant_experience_path, class: "btn btn-block btn-primary" %><br>
    <% if @applicant_experiences.any? %>
      <%= link_to 'Next Step', applicant_references_path, class: "btn btn-block btn-success" %>
    <% end %>  
  </div>  
</div>