<div class="col-xs-12 col-md-8 col-md-offset-2">
  <% if !@applicant_experiences.any? %> 
    <%= render 'layouts/incomplete' %>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center"><%= current_applicant.username %>'s Work Experience</h1>
    </div>
    <div class="panel-body">

      <% @applicant_experiences.each do |applicant_experience| %>
        <div class="well text-center col-xs-12 col-md-8 col-md-offset-2">
        <h5 class="text-primary">Job name: </h5><%= applicant_experience.Job_Name %>
        <h5 class="text-primary">Company name: </h5><%= applicant_experience.Company_Name %>
        <h5 class="text-primary">Duties: </h5><%= applicant_experience.Duties %>
        <h5 class="text-primary">Employment Type: </h5><%= applicant_experience.applicant_employment_type %>
        <h5 class="text-primary">Start date: </h5><%= applicant_experience.Start_Date %>
        <h5 class="text-primary">End date: </h5><%= applicant_experience.End_Date %><hr>
          
          <%= link_to 'Edit Entry', edit_applicant_experience_path(applicant_experience), class: "btn btn-xs btn-warning" %>
          <%= link_to 'Delete Entry', applicant_experience, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>


      <br>
      <div class="col-xs-12 col-md-12">
        <%= link_to 'New Applicant Experience', new_applicant_experience_path, class: "btn btn-block btn-primary" %><br>
        <% if @applicant_experiences.any? %>
          <%= link_to 'Next Step', root_url, class: "btn btn-block btn-success" %>
        <% end %> 
      </div>

    </div>
    <br><%= link_to 'Back', root_url, class: 'btn btn-xs btn-danger' %>  
  </div>
</div>  