<%= simple_form_for @applicant_personal_detail do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-xs-8 col-xs-offset-2">
    <%= f.input :First_Name, label: "First Name", autofocus: true, placeholder: "John" %>
    <%= f.input :Middle_Name, label: "Middle Name", placeholder: "Michael" %>
    <%= f.input :Surname, placeholder: "Smith" %>
    <%= f.input :Contact_Number, label: "Contact Number", placeholder: "0831234567" %>
    <%= f.input :Alt_Contact_Number, label: "Alternate Contact Number", placeholder: "0837654321" %>
    <%= f.association :applicant_race, label: "Race", :label_method =>  lambda { |race| "#{race.Race}"  } %>
    <%= f.association :applicant_gender, label: "Gender", :label_method =>  lambda { |gender| "#{gender.Gender}"  } %>
    <%= f.association :applicant_nationality, label: "Nationality", :label_method => lambda { |nationality| "#{nationality.Nationality}"} %>
    <%= f.association :applicant_marital_status, label: "Marital Status", :label_method => lambda { |marital_status| "#{marital_status.Marital_Status}"} %>
    <%= f.input :Number_Of_Dependancies, label: "Number Of Dependancies", placeholder: "1, 2, 3, etc." %>
    <%= f.association :applicant_current_occupation, label: "Current Occupation Status", :label_method => lambda { |occupation| "#{occupation.Current_Occupation}"} %>
    <%= f.input :Skills, placeholder: "HTML, Bootstrap, Microsoft Office, Ruby on Rails, Project Management", hint: "Please specify 5 skills seperated by a comma" %>
    <%= f.input :Criminal_Record, label: "Criminal Record", as: :radio_buttons, :collection => [ ['Yes', 1], ['No', 0] ]  %>
    
    <%= f.hidden_field :Application_Status, value: 1 %>
  </div> 

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-block" %>
  </div>
<% end %><br>
