<%= simple_form_for @applicant_personal_detail do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Surname %>
    <%= f.input :First_Name %>
    <%= f.input :Middle_Name %>
    <%= f.input :Contact_Number %>
    <%= f.input :Alt_Contact_Number %>
    <label>Current Occupation</label><br>
      <%= f.collection_select(:applicant_current_occupation_id, ApplicantCurrentOccupation.all, :id, :Current_Occupation, {:include_blank=>true}, {:class=>'form-control'}) %><br>
    <label>Race</label><br>
      <%= f.collection_select(:applicant_race_id, ApplicantRace.all, :id, :Race, {:include_blank=>true}, {:class=>'form-control'}) %><br>
    <label>Gender</label><br>
      <%= f.collection_select(:applicant_gender_id, ApplicantGender.all, :id, :Gender, {:include_blank=>true}, {:class=>'form-control'}) %><br>
    <label>Marital Status</label><br>
      <%= f.collection_select(:applicant_marital_status_id, ApplicantMaritalStatus.all, :id, :Marital_Status, {:include_blank=>true}, {:class=>'form-control'}) %><br>
    <label>Nationality</label><br>
      <%= f.collection_select(:applicant_nationality_id, ApplicantNationality.all, :id, :Nationality, {:include_blank=>true}, {:class=>'form-control'}) %><br>
    <%= f.input :Criminal_Record %>
    <%= f.input :Skills %>
    <%= f.input :Application_Status %>
    <%= f.input :Number_Of_Dependancies %>
  </div> 

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-block" %>
  </div>
<% end %><br>
