<%= simple_form_for @applicant_address do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Address_Line_1, label: "Address Line 1", placeholder: "101 Main Road" %>
    <%= f.input :Address_Line_2, label: "Address Line 2", placeholder: "Amalinda" %>
    <%= f.input :Address_Line_3, label: "Address Line 3", placeholder: "Extra line if needed" %>

    <!-- <label>Province</label><br>
    <%= f.collection_select(:id, ApplicantProvince.all, :id, :Province_Name, {:include_blank=>true}, {:class=>'form-control'}) %> -->

    <label>Municipality</label><br>
    <%= f.grouped_collection_select :id, ApplicantProvince.all, :applicant_p_municipalities, :Province_Name, :id, :Municipality_Name,{}, class: "form-control" %>

    <label>City</label><br> 
    <%= f.grouped_collection_select(:applicant_pm_city_id, ApplicantPMunicipality.all, :applicant_pm_cities, :Municipality_Name, :id, :City_Name, {}, class: 'form-control') %>

    <%= f.input :Postal_Code, label: "Postal Code", placeholder: "1234" %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-block btn-primary" %><br>
  </div>
<% end %>

<script type="text/javascript">
  (function() {
  jQuery(function() {
    var cities;
    cities = $('#applicant_address_applicant_pm_city_id').html();
    return $('#applicant_address_id').change(function() {
      var municipality, options;
      municipality = $('#applicant_address_id :selected').text();
      options = $(cities).filter("optgroup[label='" + municipality + "']").html();
      if (options) {
        $('#applicant_address_applicant_pm_city_id').html(options);
      } else {
        $('#applicant_address_applicant_pm_city_id').empty();
      }
      // return console.log(municipality);
    });
  });

}).call(this);
</script>