<%= simple_form_for @applicant_address do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Address_Line_1 %>
    <%= f.input :Address_Line_2 %>
    <%= f.input :Address_Line_3 %>
    <%= f.input :Postal_Code %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
