<% if !@applicant_addresses.any? %> 
  <%= render 'layouts/incomplete' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center"><%= current_applicant.username %>'s Addresses</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-bordered table-condensed">
      <thead>
        <tr bgcolor="#D9EDF7">
          <th>Address line 1</th>
          <th>Address line 2</th>
          <th>Address line 3</th>
          <th>Postal code</th>
          <th>City</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @applicant_addresses.each do |applicant_address| %>
          <tr>
            <td><%= applicant_address.Address_Line_1 %></td>
            <td><%= applicant_address.Address_Line_2 %></td>
            <td><%= applicant_address.Address_Line_3 %></td>
            <td><%= applicant_address.Postal_Code %></td>
            <td><%= applicant_address.applicant_pm_city_id %></td>
            <td><%= link_to 'Show', applicant_address, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_applicant_address_path(applicant_address), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Destroy', applicant_address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if @applicant_addresses.count == 3 %>
      <h4 class="text-center text-danger"> <%= current_applicant.username %> has reached the maximum amount of addresses allowed!!! </h4><br>
    <% else %>  
    <%= link_to 'New Applicant Address', new_applicant_address_path, class: "btn btn-block btn-primary" %><br>
    <% end %>
    <% if @applicant_addresses.any? %>
    <%= link_to 'Next Step', applicant_field_of_studies_path, class: "btn btn-block btn-success" %>
    <% end %>
  </div>  
</div>