<div class="col-xs-12 col-md-8 col-md-offset-2">
  <% if !@applicant_addresses.any? %> 
    <%= render 'layouts/incomplete' %>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="text-center"><%= current_applicant.username %>'s Addresses</h1>
    </div>
    <div class="panel-body">

      <% @applicant_addresses.each do |applicant_address| %>
        <div class="well text-center col-xs-12 col-md-8 col-md-offset-2">
          <h5 class="text-primary">Address</h5><%= applicant_address.Address_Line_1 %>
          <!--<h5 class="text-primary">Address line 2</h5>--><br><%= applicant_address.Address_Line_2 %><br><%= applicant_address.Address_Line_3 %>
          <!-- <h5 class="text-primary">Address line 3</h5>
          <% if applicant_address.Address_Line_3.blank? %>
              [N/A]
            <% else %>
              <%= applicant_address.Address_Line_3 %> 
            <% end %> -->
          <h5 class="text-primary">Postal code</h5><%= applicant_address.Postal_Code %>
          <h5 class="text-primary">City</h5><%= applicant_address.applicant_pm_city %><hr>
          <td><%= link_to 'Edit Entry', edit_applicant_address_path(applicant_address), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Delete Entry', applicant_address, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-xs btn-danger" %></td>
        </div>
      <% end %>

      <br>
      <div class="col-xs-12 col-md-12">
        <% if @applicant_addresses.count == 3 %>
          <h4 class="text-center text-danger"> <%= current_applicant.username %> has reached the maximum amount of addresses allowed!!! </h4><br>
        <% else %>  
        <%= link_to 'New Applicant Address', new_applicant_address_path, class: "btn btn-block btn-primary" %><br>
        <% end %>
        <% if @applicant_addresses.any? %>
        <%= link_to 'Next Step', new_applicant_license_url, class: "btn btn-block btn-success" %>
        <% end %>
      </div>
    </div>
    <br><%= link_to 'Back', root_url, class: 'btn btn-xs btn-danger' %>  
  </div>
</div>