<!DOCTYPE html>
<html>
  <head>
    <title>Little Pig Recruitment Agency</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <!-- Mobile views -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
    <div class="container-fluid">	
    
      <% if notice %> 
        <div class="alert alert-info alert-dismissable text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><span class="notice"><%= notice %></span></strong> 
        </div> 
      <% elsif alert %>
        <div class="alert alert-danger alert-dismissable text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><span class="alert"><%= alert %></span></strong>
        </div>
      <% end %>

    	<%= yield %>
    </div>	
  </body>
</html>
